
* {
  box-sizing: border-box;
}
body {
            font-family: Trebuchet MS, Arial, Times New Roman;
      }
.container {
    display: flex;
    height: 600px;
    width: 100%;
    border: 5px solid #000000;
}
.box1  {
    display: flex;
    width: 50%;
    height: 50%;
    font-size: 20px;
    background-color: aqua;
    border: 1px solid white;
}
.side {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  width:50%;
  height: 100%;
  font-size: 20;
}
.top {
  flex-direction: row;
  flex-flow: row wrap;
}

.item {
    display: flex;
    width: calc(100% / 3);
    height: calc(100% / 3);
    background-color: aqua;
    border: 1px solid white;

}        
 
 

